<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
    <div class="contenedor-carrito">
     <div class="row-carri">

<div class="conte-artic">
    <h2 id="title-carri">Carrito</h2>
        <div class="articulos-carri">
        <article class="row-articulos">
            <div class="caja-img"> 
                <div class="imagenes"><img src="/images/productos/producto1.png" alt="imagen de cpu" ></div>

                <div class="botones-carri">
                    <button>Comprar</button>
                    <button>Eliminar</button> 
                </div> 
            </div>
                 <div class="caja-descripcion">
                     <span class="titulosCarrito">MSI GeForce RTX 3080 Ti 12GB</span>
                     <div class="envio">
                        <span>
                            Envio gratis
                        </span>
                            </div>
             <div class="cant-disp"><p class="cantidad">cantidad</p>
                <div class="suma"><select id="dropdown" class="input-register" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>

                 </select> 
                 </div>
                 </div> </div>
                      
                 <div class="precio-total">
                     <span> $ 120.000</span>
                 </div>

        </article>
         </div>

<!-- ------------------------- -->
<div class="articulos-carri">
    <article class="row-articulos">
        <div class="caja-img"> 
            <div class="imagenes"><img src="/images/productos/producto3.jpg" alt="micro procesador" ></div>

            <div class="botones-carri">
                <button>Comprar</button>
                <button>Eliminar</button> 
            </div> 
        </div>
             <div class="caja-descripcion">
                 <span class="titulosCarrito">Micro Procesador Amd Ryzen 5 5600g 4.4ghz Am4 16mb C/ Video</span>
                 <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
         <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              

             </select> 
             </div>
             </div> </div>
                  
             <div class="precio-total">
                 <span>$ 50.000</span>
             </div>

    </article>
     </div>
<!-- ----------------- -->
<div class="articulos-carri">
    <article class="row-articulos">
        <div class="caja-img"> 
            <div class="imagenes"><img src="/images/productos/producto9.jpg" alt="tira led" ></div>

            <div class="botones-carri">
                <button>Comprar</button>
                <button>Eliminar</button> 
            </div> 
        </div>
             <div class="caja-descripcion">
                 <span class="titulosCarrito">Tira luces LED x10m</span>
                 <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
         <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

             </select> 
             </div>
             </div> </div>
                  
             <div class="precio-total">
                 <span>$ 2000</span>
             </div>

    </article>
     </div>
<!-- ---------------------- -->
<div class="articulos-carri">
    <article class="row-articulos">
        <div class="caja-img"> 
            <div class="imagenes"><img src="/images/productos/producto11.png" alt="cpu cooler" ></div>

            <div class="botones-carri">
                <button>Comprar</button>
                <button>Eliminar</button> 
            </div> 
        </div>
             <div class="caja-descripcion">
                 <span class="titulosCarrito">Cpu Cooler Xigmatek Windpower 963 Intel 1200 Amd Am4</span>
                 <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
         <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

             </select> 
             </div>
             </div> </div>
                  
             <div class="precio-total">
                 <span>$ 3000</span>
             </div>

    </article>
     </div>
<!-- ----------------- -->
<div class="articulos-carri">
    <article class="row-articulos">
        <div class="caja-img"> 
            <div class="imagenes"><img src="/images/productos/producto12.png" alt="memorias ram" ></div>

            <div class="botones-carri">
                <button>Comprar</button>
                <button>Eliminar</button> 
            </div> 
        </div>
             <div class="caja-descripcion">
                 <span class="titulosCarrito">Memoria Xpg Spectrix D60g Rgb 16gb (2x8) Ddr4 3000mhz Dual</span>
                 <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
         <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>

             </select> 
             </div>
             </div> </div>
                  
             <div class="precio-total">
                 <span>$ 12.500</span>
             </div>

    </article>
     </div>
<!-- --------------------- -->






    </div>
<!-- --------------------------------- -->
    <div class="pagar-carri">
    <article class="pagar">
      <h2 class="resu-carr">Resumen de pedido</h2>

      <div class="total-carr">
          <span>Total</span>
          <span>$ 187,500</span>
      </div>
     <div class="botones-carri">
      <button>Eliminar</button>
      <button>Continuar</button>
    </div>
    </article>
  </div>
<!-- ------------- -->
    </div>
    </div>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>