<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>  
    <main>
        <div class="containerCategories">
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/componentes.png" alt="Componentes">
                <h2 class="catH2">Componentes</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/accesorios.png" alt="Accesorios">
                <h2 class="catH2">Accesorios</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/electronica.png" alt="Electrónica">
                <h2 class="catH2">Electrónica</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/notebooks.png" alt="Notebooks">
                <h2 class="catH2">Notebooks</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/consolas.png" alt="Consolas">
                <h2 class="catH2">Consolas</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/celulares.png" alt="Celulares">
                <h2 class="catH2">Celulares</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/conectividad.png" alt="Conectividad">
                <h2 class="catH2">Conectividad</h2>
            </article>
            <article class="oneBlock">
                <img class="imgCategories" src="/images/logos/arma.png" alt="Arma tu pc">
                <h2 class="catH2">Arma tu pc</h2>
            </article>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>