<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="home-main">
        <div class="carrusel-div">
            <div class="carrusel-img">
                <img src="images/logos/banner.jpg" alt="pc">
            </div>
        </div>
    </main>

    <%- include('../partials/productos-home')  %>

  <%- include('../partials/footer') %>
</body>
</html>