<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>


        <article class="caja">
            <div class="cajita2"> 
            <div class="img1"><img src="./img/monster.jpg" alt="imagen de cpu" ></div>

             <div class="eli-com">
                <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
             </div> 
          </div> 


            <article class="cajita">
            <div class="nombre"><p class="tiluto">Pc Gamer armada</p></div>
            <p>Pc Armada Amd Ryzen 15 72gb Ddr5 Ssd  Gt 999</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>
        </article>


          <div class="precio"><p>$ 277.000</p></div>
        </article>



        <article class="caja">
            <div class="cajita2"> 
            <div class="img1"><img src="./img/teclado.jpg" alt="imagen de cpu" ></div>

             <div class="eli-com">
                <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
             </div> 
          </div> 

            <article class="cajita">
            <div class="nombre"><p class="tiluto">Teclado Gamer</p></div>
            <p>con luces,mecanico,etc</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>
        </article>


          <div class="precio"><p>$ 20.000</p></div>
        </article>

        



        <article class="caja">
            <div class="cajita2">
            <div class="img1"><img src="./img/luz.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
                <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
            </div> 
            </div>


            <article class="cajita">
            <div class="nombre"><p>CPU profecional pro</p></div>
            <p>cpu armada con 90 Gb de ram ,intel core 50.</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>
           
        </article>
        <div class="precio"><p>$ 300.000</p></div>
        
        </article>

       

        <article class="caja">
            <div class="cajita2">
            <div class="img1"><img src="./img/triangulo.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
         <a href="ELIMINAR">ELIMINAR</a>
        <a href="comprar">comprar</a>
     </div> 
    </div>


            <article class="cajita">
            <div class="nombre"><p>CPU Gamer triangular 777</p></div>
            <p>cpu armada con 70 Gb de ram ,intel core 22,teclado y accesorios de regalo</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>

        </article>

        <div class="precio"><p>$ 295.000</p></div>
        </article>
            
    </section>

    <section class="total-caja">

        <article class="total1">

        <p>¿CUAL ES EL TOTAL?</p>

        </article>
        
        <article class="total2">

        <p>TOTAL CON ENVIO  $892.000</p>

        <div class="comprar"> <button type="submit" class="btn btn-submit">COMPRAR</button></div>

        </article>
    </section>
    <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                    <a href="marcas">MARCAS</a>
                    <a href="intel">INTEL</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">NVIDIA</a>
                    <a href="asrock">ASR0CK</a>
                </article></div>

                <div class="caja2">
                <article class="hijo">
                    <a href="lo mas buscado">LO MÁS BUSCADO</a>
                    <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                    <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                    <a href="gabinetes">GABINETES</a>
                    <a href="monitores">MONITORES</a>
                    <a href="teclado mecánico">TECLADO MECÁNICO</a>
                    <a href="mouse gamer">MOUSE GAMER</a>
                </article></div>

               
                <div class="caja4">
                   
                <article class="hijo">
                    <div><p>CONTACTOS</p></div>

                    <div class="container">
                        <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                    </div>
                    <img src="images/logos/face.png" alt="imagen de facebook" style="width: 80px;height: 80px;">
                   <img src="images/logos/insta.png" alt="insta imagen" style="width: 80px;height: 80px;">
                   <img src="images/logos/whatsapp.png" alt="imagen" style="width: 80px;height: 80px;">
                   
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>

</body>
</html>



 



 