<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>


        <article class="caja">
            <div class="cajita2"> 
            <div class="img1"><img src="./img/monster.jpg" alt="imagen de cpu" ></div>

             <div class="eli-com">
                <a href="ELIMINAR">Eliminar</a>
                <a href="comprar">comprar</a>
             </div> 
          </div> 


            <article class="cajita">
            <div class="nombre"><p>Pc Gamer armada</p></div>
            <p class="descrip">Pc Armada Amd Ryzen 15 72gb Ddr5 Ssd  Gt 999</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
     <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
             
            <p>10 Disponibles</p></div>
        </article>


          <div class="precio">
            <p>Precio</p>
            <p>$ 277.000</p></div>
        </article>



        <article class="caja">
            <div class="cajita2"> 
            <div class="img1"><img src="./img/teclado.jpg" alt="imagen de cpu" ></div>

             <div class="eli-com">
                <a href="ELIMINAR">Eliminar</a>
                <a href="comprar">comprar</a>
             </div> 
          </div> 

            <article class="cajita">
            <div class="nombre"><p class="tiluto">Teclado Gamer</p></div>
            <p class="descrip">con luces,mecanico,etc</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
                        <div class="cant-disp">  <p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p></div>
        </article>


          <div class="precio">
              
            <p>Precio</p>
            <p>$ 20.000</p></div>
        </article>

        



        <article class="caja">
            <div class="cajita2">
            <div class="img1"><img src="./img/luz.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
                <a href="ELIMINAR">Eliminar</a>
                <a href="comprar">comprar</a>
            </div> 
            </div>


            <article class="cajita">
            <div class="nombre"><p>CPU profecional pro</p></div>
            <p class="descrip">cpu armada con 90 Gb de ram ,intel core 50.</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
                        <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p></div>
           
        </article>
        <div class="precio">
            <p>Precio</p>
            <p>$ 300.000</p></div>
        </article>

       

        <article class="caja">
            <div class="cajita2">
            <div class="img1"><img src="./img/triangulo.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
         <a href="ELIMINAR">Eliminar</a>
        <a href="comprar">comprar</a>
     </div> 
    </div>


            <article class="cajita3">
            <div class="nombre"><p>CPU Gamer triangular</p></div>
            <p class="descrip">cpu armada con 70 Gb de ram ,intel core 22,teclado y accesorios de regalo</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <div class="cant-disp"><p class="cantidad">cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p></div>

        </article>

        <div class="precio">
            <p>Precio</p>
            <p>$ 295.000</p></div>
        </article>
            
    </section>

    <section class="total-caja">

        <article class="total1">

        <p>¿CUAL ES EL TOTAL?</p>

        </article>
        
        <article class="total2">

        <p>TOTAL CON ENVIO  $892.000</p>

        <div class="comprar"> <button type="submit" class="btn btn-submit">COMPRAR</button></div>

        </article>
    </section>

</body>
</html>