<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>


        <article class="caja">
            <div>
            <div class="img1"><img src="./img/monster.jpg" alt="imagen de cpu" ></div>

             <div class="eli-com">
                 <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
             </div> 
            </div>


            <article class="cajita">
            <div class="nombre"><p>CPU Gamer armada</p></div>
            <p>cpu armada con 70 Gb de ram ,intel core 15,teclado y accesorios de regalo</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>
        </article>


          <div class="precio"><p>$ 10.000</p></div>
        </article>



        <article class="caja">
            <div>
            <div class="img1"><img src="./img/luz.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
                <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
            </div> 
            </div>


            <article class="cajita">
            <div class="nombre"><p>CPU profecional pro</p></div>
            <p>cpu armada con 90 Gb de ram ,intel core 50.</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>
           
        </article>
        <div class="precio"><p>$ 10.000</p></div>
        
        </article>

        <article class="caja">
            <div>
            <div class="img1"><img src="./img/teclado.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
                <a href="ELIMINAR">ELIMINAR</a>
                <a href="comprar">comprar</a>
            </div> 
            </div>
            
            <article class="cajita">
            <div class="nombre"><p>teclado profecional elite</p></div>
            <p></p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>1 Disponibles</p>

         </article>
            <div class="precio"><p>$ 10.000</p></div>
        </article>


        <article class="caja">
            <div>
            <div class="img1"><img src="/public/images/img/triangulo.jpg" alt="imagen de cpu" ></div>

            <div class="eli-com">
         <a href="ELIMINAR">ELIMINAR</a>
        <a href="comprar">comprar</a>
     </div> 
    </div>


            <article class="cajita">
            <div class="nombre"><p>CPU Gamer triangular 777</p></div>
            <p>cpu armada con 70 Gb de ram ,intel core 22,teclado y accesorios de regalo</p>

            <div class="envio">
                    <span>
                        envio gratis
                    </span>
                        </div>
            <p>cantidad</p>
            <div class="suma"><select id="dropdown" class="input-register" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
             </select> 
             </div>
            <p>10 Disponibles</p>

        </article>

        <div class="precio"><p>$ 10.000</p></div>
        </article>
            
       


    </section>


    <section class="total-caja">

        <article class="total1">

<p>¿CUAL ES EL TOTAL?</p>

        </article>
        
        <article class="total2">

<p>TOTAL CON ENVIO  $14.000 MILLONES </p>

<div class="comprar"> <button type="submit" class="btn btn-submit">COMPRAR</button></div>

        </article>


    </section>
</body>
</html>



 