<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="C:\Users\POSITIVO\Desktop\grupo11-techram\public\css\detalleDeProducto.css">
</head>
<body>

    <div> 
        <h1>Nombre del producto</h1>
        <li class="imagen"><img src="C:\Users\POSITIVO\Desktop\grupo11-techram\public\images\detalle\img.png " alt="producto"></li>
         <p class="price">$***</p>
    </div>

    <div>
         <ul class="botones">
            <button>Comprar</button>
            <button>Agregar al carrito</button>
         </ul>
    </div>
            <label for="cantidad">Cantidad: </label>
            <input type="number" name="cantidad" id="cantidad">
      <div>
          <h4>Forma de pago</h4>
                   <label for="debito">Débito <input type="radio" name="pay" id="debito" value="debito" checked></label><br>        
                   <label for="credito">Crédito <input type="radio" name="pay" id="credito" value="credito" ></label><br>        
                   <label for="efectivo">Efectivo <input type="radio" name="pay" id="efectivo" value="efectivo" ></label><br>
                
          <h4>Detalles</h4>
               <ul>
                    <li>Funciones</li>
                    <li>Material</li>
                    <li>Marca</li>
                    <li>Dimenciones</li>
                    <li>Modelo</li>
                    <li>Garantia</li>
                 </ul> 
           
      </div>
         
        
           
            
       
    
</body>
</html>