<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>






<body class="">
    <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                    <a href="marcas">MARCAS</a>
                    <a href="intel">INTEL</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">NVIDIA</a>
                    <a href="asrock">ASR0CK</a>
                </article></div>

                <div class="caja2">
                <article class="hijo">
                    <a href="lo mas buscado">LO MÁS BUSCADO</a>
                    <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                    <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                    <a href="gabinetes">GABINETES</a>
                    <a href="monitores">MONITORES</a>
                    <a href="teclado mecánico">TECLADO MECÁNICO</a>
                    <a href="mouse gamer">MOUSE GAMER</a>
                </article></div>

               
                <div class="caja4">
                   
                <article class="hijo">
                    <p>CONTACTOS</p>
                    <div class="container">
                        <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                    </div>
                    <a data-click-event="footer_social_ig" href="https://www.instagram.com/facebookfordevelopers/" target="_blank" rel="noopener nofollow" data-lynx-mode="asynclazy" data-lynx-uri="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Ffacebookfordevelopers%2F&amp;h=AT1tGrOUbIyC1r8ENqdr7IzP5T8d1ckzUQEMLkIlOtsQaFM6oXOcluyfEF_QR1Tg-CVZ_DUe4Pw4l5OCQ35F1R5kbklo0-w7aZZFhMhuzU9yi2tUj8ssHOX2RLOsJJmLCZuRxaPvJonnyj0hCxBJ8Q"><img class="_6voz _7f2d img" src="https://z-p3-scontent.faep6-1.fna.fbcdn.net/v/t39.2365-6/89319900_506382610280628_2520212398984396800_n.svg?_nc_cat=1&amp;ccb=1-5&amp;_nc_sid=ad8a9d&amp;_nc_ohc=U2EaUDfrglMAX_M9DEv&amp;_nc_ht=z-p3-scontent.faep6-1.fna&amp;oh=4da752f0157ae355fe0627e6c325735c&amp;oe=61772AB5" alt="Síguenos en Instagram" style="width:24px; height:auto; display:inline; margin-right:20px;">Instagram</a>

                    <a data-click-event="footer_social_fb" href="https://www.facebook.com/FacebookforDevelopers/"><img class="_6voz _7f2d img" src="https://z-p3-scontent.faep6-1.fna.fbcdn.net/v/t39.2365-6/89126182_222315695571651_4936319991919149056_n.svg?_nc_cat=1&amp;ccb=1-5&amp;_nc_sid=ad8a9d&amp;_nc_ohc=BWpjB-1zZKAAX_uUJ_I&amp;_nc_ht=z-p3-scontent.faep6-1.fna&amp;oh=7e8572345c4af3bb6fa7866f974f143d&amp;oe=6177576F" alt="Síguenos en Facebook" style="width:24px; height:auto; display:inline; margin-right:20px;">Facebook</a>
                   <!--  <img class="_6voz _7f2d img" src="https://z-p3-scontent.faep6-1.fna.fbcdn.net/v/t39.2365-6/89126182_222315695571651_4936319991919149056_n.svg?_nc_cat=1&amp;ccb=1-5&amp;_nc_sid=ad8a9d&amp;_nc_ohc=BWpjB-1zZKAAX_uUJ_I&amp;_nc_ht=z-p3-scontent.faep6-1.fna&amp;oh=7e8572345c4af3bb6fa7866f974f143d&amp;oe=6177576F" alt="Síguenos en Facebook" style="width:24px; height:auto; display:inline; margin-right:20px;"> -->
                    <img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="40" height="40" alt="Whatsapp" onclick="window.location.href='https://wa.me/573001112233?text=Hola!%20Estoy%20interesado%20en%20tu%20servicio'"><a href="">Whatsapp</a>
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>
</body>

</html>