<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>






<body class="">
    <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                    <a href="marcas">MARCAS</a>
                    <a href="intel">INTEL</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">NVIDIA</a>
                    <a href="asrock">ASR0CK</a>
                </article></div>

                <div class="caja2">
                <article class="hijo">
                    <a href="lo mas buscado">LO MÁS BUSCADO</a>
                    <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                    <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                    <a href="gabinetes">GABINETES</a>
                    <a href="monitores">MONITORES</a>
                    <a href="teclado mecánico">TECLADO MECÁNICO</a>
                    <a href="mouse gamer">MOUSE GAMER</a>
                </article></div>

               
                <div class="caja4">
                   
                <article class="hijo">
                    <div><p>CONTACTOS</p></div>

                    <div class="container">
                        <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                    </div>
                   <img src="/public/images/logos/face.png" alt="imagen de facebook">
                   <img src="insta.png" alt="insta imagen">
                   <img src="whatsapp.png" alt="imagen">
                   
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>
</body>

</html>