<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>header</title>
</head>

<body>
  <header>
    <nav class="nav-container">
        <div class="burguer-menu">
                  <input type="checkbox" id="menu">
                  <label for="menu"><i class="fas fa-bars"></i></label>  
                  <ul class="nav__ul">
                      <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                      <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                      <li class="nav__li"><a href="#" class="nav__a">ENCONTRA TU EQUIPO</a></li>
                      <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
                      <li class="nav__li"><a href="#" class="nav__a">AYUDAS</a></li>
                      <li class="nav__li"><a href="#" class="nav__a">MARCAS SPONSOR</a></li>
                  </ul>
           <!--  <div class="text-techram">
               <img src="images/logos/rosatr.png" alt="techRam texto">
            </div> -->
        </div>
        <div class="container-logo">
            <div class="logo-imagen">
                <img src="images/logos/eva.png" alt="techRam logo">
            </div>
        </div>
        <div class="container-icon">
            <div class="buscador">
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search"></i>
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </nav>
   <!--  <div class="menu">
      <lu class="nav__lu">
          <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
          <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
          <li class="nav__li"><a href="#" class="nav__a">ENCONTRA TU EQUIPO</a></li>
          <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
          <li class="nav__li"><a href="#" class="nav__a">AYUDAS</a></li>
          <li class="nav__li"><a href="#" class="nav__a">MARCAS SPONSOR</a></li>
      </lu>
    </div> -->
    <div class="burguer-responsive">
        <i class="fas fa-bars"></i>
        <div class="menu-responsive">
          <ul class="nav__ul">
              <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
              <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
              <li class="nav__li"><a href="#" class="nav__a">ENCONTRA TU EQUIPO</a></li>
              <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
              <li class="nav__li"><a href="#" class="nav__a">AYUDAS</a></li>
              <li class="nav__li"><a href="#" class="nav__a">MARCAS SPONSOR</a></li>
          </ul>
        </div>
    </div>
  </header>
</body>

</html>