<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <main class="home-main">
        <section id="home-carrusel1">
            <div class="carrusel-div">
                <div class="carrusel-img" id="item-carrusel1">
                    <img src="banners-02.png" alt="pc">
                </div>
                <ul class="flechas-carrusel">
                    <a href="#item-carrusel3"><i class="fas fa-arrow-left"></i></a>
                    <a href="#item-carrusel2"><i class="fas fa-arrow-right"></i></a>
                </ul>
            </div>
            <div class="carrusel-div">
                <div class="carrusel-img" id="item-carrusel2">
                    <img src="media_142743c21da8587776506b5971f8e0b14f987c52b.jpeg" alt="pc">
                </div>
                <ul class="flechas-carrusel">
                    <a href="item-carrusel1"><i class="fas fa-arrow-left"></i></a>
                    <a href="item-carrusel3"><i class="fas fa-arrow-right"></i></a>
                </ul>
            </div>
            <div class="carrusel-div">
                <div class="carrusel-img" id="item-carrusel3">
                    <img src="banners-02.png" alt="pc">
                </div>
                <ul class="flechas-carrusel">
                    <a href="item-carrusel2"><i class="fas fa-arrow-left"></i></a>
                    <a href="item-carrusel1"><i class="fas fa-arrow-right"></i></a>
                </ul>
            </div>
        </section>
        <section class="categorias">
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>nombre</p>    
            </article>
        </section>
        <section class="productos">
            <h3 class="title-card">Lo mas buscado</h3>
            <article class="productos-article">
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
            </article>
            <h3 class="title-card">Lo que esta en oferta</h3>
            <article class="productos-article">
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
            </article>
            <h3 class="title-card">No se que poner</h3>
            <article class="productos-article">
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="img-macbook-pro-2019.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Descripcion del producto</h5>
                        <p class="price">$2000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>