<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="burguer-menu">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                    <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                    <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
                </ul>
            </div>
            <div class="container-logo">
                <div class="logo-imagen">
                    <img src="images/logos/eva.png" alt="techRam logo">
                </div>
            </div>
            <div class="container-icon">
                <div class="buscador">
                    <input type="checkbox" id="search-bar">
                    <label for="search-bar"><i class="fas fa-search"></i></label>
                    <ul class="ul-buscador">
                        <li class="li-buscador"><input type="text" placeholder="Buscar..."></li>
                        <li class="li-buscador"><button class="boton-mobile"><i class="fas fa-search"></i></button></li>
                    </ul>
                </div>
                <div class="buscador-responsive">
                    <div id="div-buscador">
                        <input type="text" placeholder="Buscar...">
                        <button class="boton-mobile"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="user">
                    <i class="fas fa-user"></i>
                    <p class="user-p">mi cuenta</p>
                </div>
                <div class="carrito">
                    <a href="carrito"><i class="fas fa-shopping-cart"></i></a>
                    <p class="carrito-p"><a href="carrito">mi carrito</a></p>
                </div>
            </div>
        </nav>
        <div class="burguer-responsive">
            <input type="checkbox" id="menu-responsive">
                <label for="menu-responsive"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                    <li class="nav__li"><a href="perfil" class="nav__a">MI CUENTA</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                    <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                    <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="home-main">
        <div class="carrusel-div">
            <div class="carrusel-img">
                <img src="images/logos/banner.jpg" alt="pc">
            </div>
        </div>
<!--         <section class="categorias">
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-laptop-medical"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>armado pc</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-headset"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>auriculares</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-desktop"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>monitores</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="far fa-keyboard"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>perifericos</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>joystick</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-laptop"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>laptops</p>    
            </article>
        </section> -->
        <section class="productos">
            <h3 class="title-card">Lo mas buscado</h3>
            <article class="productos-article">
                <div class="productos-article__card">
                    <div class="card-img">                        
                        <a href="detalle"><img src="images/productos/producto11.png" alt="pc"></a>
                        <h5 class="descripcion-producto">Memoria Xpg Spectrix D60g Rgb 16gb (2x8) Ddr4 3000mhz Dual</h5>
                        <p class="price">$12.500</p>
                    </div>
                    <div class="button-producto">
                        <a href="detalle">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto2.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">VANGUARD gabinete</h5>
                        <p class="price">$25.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto3.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Micro Procesador Amd Ryzen 5 5600g 4.4ghz Am4 16mb C/ Video</h5>
                        <p class="price">$50.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto4.jpeg" alt="pc"></a>
                        <h5 class="descripcion-producto">Teclado Redragon k552W</h5>
                        <p class="price">$7.500</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto5 (2).jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">ASUS TUF GAMING B550-PLUS(Wi-fi)</h5>
                        <p class="price">$24.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/productoAuriculares.jpeg" alt="pc"></a>
                        <h5 class="descripcion-producto">AURICULARES GAMER ONIKUMA K20</h5>
                        <p class="price">$12.500</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
            </article>
            <h3 class="title-card">Lo que esta en oferta</h3>
            <article class="productos-article">
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto7.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Combo Gamer</h5>
                        <p class="price">$5.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto8.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Monitor AOC 24” Gamer G4D41N-F Full HD 1080p 75 Hz</h5>
                        <p class="price">$7.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto9.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Tira luces LED x10m</h5>
                        <p class="price">$2.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto10.jpg" alt="pc"></a>
                        <h5 class="descripcion-producto">Tableta Digitalizadora Wacom Intuos Small</h5>
                        <p class="price">$15.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto1.png" alt="pc"></a>
                        <h5 class="descripcion-producto">MSI GeForce RTX 3080 Ti 12GB</h5>
                        <p class="price">$120.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
                <div class="productos-article__card">
                    <div class="card-img">
                        <a href="#"><img src="images/productos/producto12.png" alt="pc"></a>
                        <h5 class="descripcion-producto">Cpu Cooler Xigmatek Windpower 963 Intel 1200 Amd Am4</h5>
                        <p class="price">$3.000</p>
                    </div>
                    <div class="button-producto">
                        <a href="#">VER PRODUCTO</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                    <a href="marcas">MARCAS</a>
                    <a href="intel">INTEL</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">NVIDIA</a>
                    <a href="asrock">ASR0CK</a>
                </article></div>

                <div class="caja2">
                <article class="hijo">
                    <a href="lo mas buscado">LO MÁS BUSCADO</a>
                    <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                    <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                    <a href="gabinetes">GABINETES</a>
                    <a href="monitores">MONITORES</a>
                    <a href="teclado mecánico">TECLADO MECÁNICO</a>
                    <a href="mouse gamer">MOUSE GAMER</a>
                </article></div>

               
                <div class="caja4">
                   
                <article class="hijo">
                    <div><p>CONTACTOS</p></div>

                    <div class="container">
                        <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                    </div>
                    <img src="images/logos/face.png" alt="imagen de facebook" style="width: 80px;height: 80px;">
                   <img src="images/logos/insta.png" alt="insta imagen" style="width: 80px;height: 80px;">
                   <img src="images/logos/whatsapp.png" alt="imagen" style="width: 80px;height: 80px;">
                   
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>
</body>
</html>