<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Logeate</title>
  </head>
  <body>
    <div class="register-container">
      <div class="register-info-cont">
        <h1 class="title">Registrate con</h1>
        <div class="redes-register">
          <div class="redes-register-elemnt">
            <img src="/images/logos/facebook.svg" alt="Google" />
            <span>Facebook</span>
          </div>
          <div class="redes-register-elemnt">
            <img src="/images/logos/google.svg" alt="Google" />
            <span>Google</span>
          </div>
        </div>
        <p class="anexo">ó</p>
        <form class="inputs-container">
          <input class="input-register" type="email" placeholder="email" />
          <input class="input-register" type="password" placeholder="Contraseña" />
          <button class="btn">Login</button>

          <p class="anexo">No tienes una cuenta? <a class="anexo-a" href="register.html">Ingresa aquí</a></p>
        </form>
      </div>
      <div class="images-container">
        <img src="images/logos/eva.png" alt="Logo techRam" />
      </div>
    </div>
  </body>
</html>
