<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    
    <title>Login</title>
</head>
<body>
      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Ingresa con</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <img src="images/logos/google.svg" alt="google-image">
                    <span>Google</span>
                </div>
                <div class="social-login-element">
                    <img src="images/logos/facebook.svg" alt="facebook-image">
                    <span>Facebook</span>
                </div>
            </div>
            <p>o</p>
            <form class="inputs-container">
                <input class="input" type="text" placeholder="email" required>
                <input class="input" type="text" placeholder="Contraseña" required>
                <p class="anexo"><input id="checkbox" type="checkbox" name="recordar" value="recordar-contraseña">Recordar contraseña</p>
                <p class="anexo">Olvidaste tu contraseña? <a class="span">Click aquí</a></p>

                <button class="btn">login</button>
                <p class="anexo">Aún no tienes una cuenta? <a class="span">Registrate aquí</a></p>
            </form>
          </div>
            <img class="image-container" src="images/logos/eva.png" alt="Logo techRam">
      </div>

</body>
</html>