<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/perfil.css">
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />


    <title>Document</title>
</head>

<body>
    <header>
        <nav class="nav-container">
            <div class="burguer-menu">
                <input type="checkbox" id="menu">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                    <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                    <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
                </ul>
            </div>
            <div class="container-logo">
                <div class="logo-imagen">
                    <img src="images/logos/eva.png" alt="techRam logo" >
                </div>
            </div>
            <div class="container-icon">
                <div class="buscador">
                    <input type="checkbox" id="search-bar">
                    <label for="search-bar"><i class="fas fa-search"></i></label>
                    <ul class="ul-buscador">
                        <li class="li-buscador"><input type="text" placeholder="Buscar..."></li>
                        <li class="li-buscador"><button class="boton-mobile"><i class="fas fa-search"></i></button></li>
                    </ul>
                </div>
                <div class="buscador-responsive">
                    <div id="div-buscador">
                        <input type="text" placeholder="Buscar...">
                        <button class="boton-mobile"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="user">
                    <i class="fas fa-user"></i>
                    <p class="user-p">mi cuenta</p>
                </div>
                <div class="carrito">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="carrito-p">mi carrito</p>
                </div>
            </div>
        </nav>
        <div class="burguer-responsive">
            <input type="checkbox" id="menu-responsive">
                <label for="menu-responsive"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
                    <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                    <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                    <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
                </ul>
            </div>
        </div>
    </header>



    <form id="form" action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="formulario" >
        <!-- 1.Datos Personales -->
        <div class="datos-Personales-Edit">
          <h2>Datos Personales</h2>
          
          <label for="name"><b>Nombre</b></label>
          <input type="text" placeholder="Nombre " name="firstName" id="firstName" >
         
        
        
          <p class="error" id="firstNameError"></p>
          <br>
          <label for="name"><b>Apellido</b></label>
          <input type="text" placeholder="Apellido" name="lastName" id="lastName" >
          <p class="error" id="lastNameError"></p>
         
           
      
      <br>
          <label for="Email"><b>Email</b></label>
          <input type="email" placeholder="Ingrese su Email" disabled name="email" id="email" >
    <br>

    <br>
          <label for="Perfil"><b>Cambiar foto de Perfil</b></label>
          <input class="File" type="file" name="Perfil" accept="jpg">
    
                  </div>

        <!-- Datos de envio -->
        <div class="entrega">
            <h2>Datos de envio</h2>
            
            <label for="Dirrecion"><b>Dirrecion</b></label>
            <input type="text" placeholder="Direccion" name="address" id="name" >.
        <br>
            <label for="Numero"><b>C.Postal</b></label>
            <input type="number" placeholder="Codigo Postal" name="cp" id="Numero">
      <br>
            <label for="name"><b>Provincia</b></label>
            <input type="text" placeholder="Provincia" name="provincia" id="provincia"> 
        <br>
            <label for="name"><b>Localidad</b></label>
            <input type="text" placeholder="Localidad" name="localidad" id="name" >
                      </div>
        </div>
          <button type='submit' class="checkout-cta-Edit">Editar</button><br>
          <span class="error" id="mistakes"></span>
      </form>    
    




      <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                    <a href="marcas">MARCAS</a>
                    <a href="intel">INTEL</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">NVIDIA</a>
                    <a href="asrock">ASR0CK</a>
                </article></div>

                <div class="caja2">
                <article class="hijo">
                    <a href="lo mas buscado">LO MÁS BUSCADO</a>
                    <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                    <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                    <a href="gabinetes">GABINETES</a>
                    <a href="monitores">MONITORES</a>
                    <a href="teclado mecánico">TECLADO MECÁNICO</a>
                    <a href="mouse gamer">MOUSE GAMER</a>
                </article></div>

               
                <div class="caja4">
                   
                <article class="hijo">
                    <div><p>CONTACTOS</p></div>

                    <div class="container">
                        <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                    </div>
                    <img src="images/logos/face.png" alt="imagen de facebook" style="width: 80px;height: 80px;">
                   <img src="images/logos/insta.png" alt="insta imagen" style="width: 80px;height: 80px;">
                   <img src="images/logos/whatsapp.png" alt="imagen" style="width: 80px;height: 80px;">
                   
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>
</body>

</html>