<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Registrate</title>
  </head>
  <body>
    
    <div class="register-container">
      <div class="register-info-cont">
        <h1 class="title">Registrate con</h1>
        <div class="redes-register">
          <div class="redes-register-elemnt">
            <img src="/images/logos/facebook.svg" alt="Google" />
            <span>Facebook</span>
          </div>
          <div class="redes-register-elemnt">
            <img src="/images/logos/google.svg" alt="Google" />
            <span>Google</span>
          </div>
        </div>
        <p class="anexo">ó</p>
        <form class="inputs-container">
          <input
            class="input-register"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Ingrese su nombre"
            required
          />

          <input
            class="input-register"
            type="text"
            name="nombre"
            id="apellido"
            placeholder="Ingrese su apellido"
            required
          />
          <input class="input-register" type="email" placeholder="email" />
          <input class="input-register" type="password" placeholder="Contraseña" />
          <input
            class="input-register"
            type="password"
            placeholder="Repite la Contraseña"
          />

          <label class="anexo" for="dropdown" id="provincia">Elige tu Provincia</label>
          <select id="dropdown" class="input-register" required>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Capital Federal">Capital Federal</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Cordoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Rios">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquen">Neuquén</option>
            <option value="Rio Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucuman">Tucumán</option>
          </select>
          <p class="anexo"
            >Acepto los <a class="anexo-a" href="#">Terminos y Condiciones</a> y autorizo el uso
            de mis datos de acuerdo a la Declaración de Privacidad</p
          >
          <button class="btn">Registrate</button>

          <p class="anexo">tienes una cuenta? <a class="anexo-a" href="/views/login.html">Ingresa aquí</a></p>
        </form>
      </div>
      <div class="images-container">
        <img src="images/logos/eva.png" alt="Logo techRam" />
      </div>
    </div>
  </body>
</html>
