<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="css/style.css" />
    <title>Registrate</title>
  </head>
  <body>
    <header>
      <nav class="nav-container">
          <div class="burguer-menu">
              <input type="checkbox" id="menu">
              <label for="menu"><i class="fas fa-bars"></i></label>
              <ul class="nav__ul">
                  <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                  <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                  <li class="nav__li"><a href="#" class="nav__a">MI CUENTA</a></li>
                  <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                  <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                  <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
              </ul>
          </div>
          <div class="container-logo">
              <div class="logo-imagen">
                  <img src="images/logos/eva.png" alt="techRam logo">
              </div>
          </div>
          <div class="container-icon">
              <div class="buscador">
                  <input type="checkbox" id="search-bar">
                  <label for="search-bar"><i class="fas fa-search"></i></label>
                  <ul class="ul-buscador">
                      <li class="li-buscador"><input type="text" placeholder="Buscar..."></li>
                      <li class="li-buscador"><button class="boton-mobile"><i class="fas fa-search"></i></button></li>
                  </ul>
              </div>
              <div class="buscador-responsive">
                  <div id="div-buscador">
                      <input type="text" placeholder="Buscar...">
                      <button class="boton-mobile"><i class="fas fa-search"></i></button>
                  </div>
              </div>
              <div class="user">
                  <i class="fas fa-user"></i>
                  <p class="user-p">mi cuenta</p>
              </div>
              <div class="carrito">
                  <a href="carrito"><i class="fas fa-shopping-cart"></i></a>
                  <p class="carrito-p"><a href="carrito">mi carrito</a></p>
              </div>
          </div>
      </nav>
      <div class="burguer-responsive">
          <input type="checkbox" id="menu-responsive">
              <label for="menu-responsive"><i class="fas fa-bars"></i></label>
              <ul class="nav__ul">
                  <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                  <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                  <li class="nav__li"><a href="perfil" class="nav__a">MI CUENTA</a></li>
                  <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                  <li class="nav__li"><a href="register" class="nav__a">REGISTRATE</a></li>
                  <li class="nav__li"><a href="login" class="nav__a">INGRESA</a></li>
              </ul>
          </div>
      </div>
  </header>
   
    <div class="register-container">
      <div class="register-info-cont">
        <h1 class="title">Registrate con</h1>
        <div class="redes-register">
          <div class="redes-register-elemnt">
            <img src="/images/logos/facebook.svg" alt="Google" />
            <span>Facebook</span>
          </div>
          <div class="redes-register-elemnt">
            <img src="/images/logos/google.svg" alt="Google" />
            <span>Google</span>
          </div>
        </div>
        <p class="anexo">ó</p>
        <form class="inputs-container" action="registro-usuario" method="POST">
          <input
            class="input-register"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Ingrese su nombre"
            required
          />

          <input
            class="input-register"
            type="text"
            name="nombre"
            id="apellido"
            placeholder="Ingrese su apellido"
            required
          />
          <input class="input-register" type="email" placeholder="email" />
          <input class="input-register" type="password" placeholder="Contraseña" />
          <input
            class="input-register"
            type="password"
            placeholder="Repite la Contraseña"
          />

          <label class="anexo" for="dropdown" id="provincia">Elige tu Provincia</label>
          <select id="dropdown" class="input-register" required>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Capital Federal">Capital Federal</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Cordoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Rios">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquen">Neuquén</option>
            <option value="Rio Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucuman">Tucumán</option>
          </select>
          <p class="anexo"
            >Acepto los <a class="anexo-a" href="#">Terminos y Condiciones</a> y autorizo el uso
            de mis datos de acuerdo a la Declaración de Privacidad</p
          >
          <button class="btn">Registrate</button>

          <p class="anexo">tienes una cuenta? <a class="anexo-a" href="/login">Ingresa aquí</a></p>
        </form>
      </div>
    
      <div class="images-container">
        <img src="images/logos/eva.png" alt="Logo techRam" />
      </div>
    </div>
    <div class="contenedor">
      <footer class="main-footer">
          <section class="section-footer">

              <div class="caja1">
              <article class="hijo">
                  <a href="marcas">MARCAS</a>
                  <a href="intel">INTEL</a>
                  <a href="amd">AMD</a>
                  <a href="asus">ASUS</a>
                  <a href="nvidia">NVIDIA</a>
                  <a href="asrock">ASR0CK</a>
              </article></div>

              <div class="caja2">
              <article class="hijo">
                  <a href="lo mas buscado">LO MÁS BUSCADO</a>
                  <a href="placas de video nvidia">PLACAS DE VIDEO NVIDIA</a>
                  <a href="placas de video amd">PLACAS DE VIDEO AMD</a>
                  <a href="gabinetes">GABINETES</a>
                  <a href="monitores">MONITORES</a>
                  <a href="teclado mecánico">TECLADO MECÁNICO</a>
                  <a href="mouse gamer">MOUSE GAMER</a>
              </article></div>

             
              <div class="caja4">
                 
              <article class="hijo">
                  <div><p>CONTACTOS</p></div>

                  <div class="container">
                      <!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
                  </div>
                  <img src="images/logos/face.png" alt="imagen de facebook" style="width: 80px;height: 80px;">
                 <img src="images/logos/insta.png" alt="insta imagen" style="width: 80px;height: 80px;">
                 <img src="images/logos/whatsapp.png" alt="imagen" style="width: 80px;height: 80px;">
                 
              </article>
              </div>

              <div class="caja3"><article class="hijo">
                  <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
              </article></div>



          </section>

      </footer>
  </div>
    
  </body>
</html>
