*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
       --font-titulos: "Bebas Neue", cursive;
        --font-textos:'Source Sans Pro', sans-serif;
        background-image: linear-gradient(to bottom, #03001e, #7303c0, #fdeff9 ); 
        background-size: cover;
        background-attachment: fixed;
     }



.contenedor-carrito{
    margin-top: 15px;
    width: 100%;
 height: 100%;
}

#title-carri {
    text-align: center;
    color: white;
} 

.conte-artic{
  
    border-radius: 8px;
width: 60%;
}

.articulos-carri{
    width:95%;
    height: 200px;
    border: solid 4px rgb(149, 84, 182);
    background-color: rgba(255, 255, 255, 0.248);
    margin-bottom: 8px;
  padding-top: 8px;
  border-radius: 8px;
}

.row-carri{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

article.row-articulos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
}
.caja-descripcion{
    width: 30%;
    height: 90%;
    font-family: var(--font-textos);
}
/* caja lateral derecha  */
.pagar-carri{
    padding-top: 5px;
    width: 32%;
    height: 300px;
    background-color:rgba(255, 255, 255, 0.248);
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.pagar{
    border: solid 4px rgb(149, 84, 182);
    border-radius: 8px;
    color: #fdeff9;
    background-color: rgba(255, 255, 255, 0.412);
}
.cant-disp{
font-family: var(--font-textos);
}

.precio-total{
    width: 22%;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.412);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* imagenes y su contenedor */
.caja-img{
width: 30%;
}
.imagenes img{
    border-radius: 6px;
    width: 150px;
    height: 140px;
}
/* -------------- */
.resu-carr{
align-items: center;
    width: 80%;
    font-family: var(--font-titulos);
}
.total-carr{
    height: 80px;
    font-size: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2.resu-carr{
    border-bottom: 2px solid #000000;
    margin-bottom: 5px;
   margin-left:30px ;

}
.botones-carri{
    font-family: var(--font-titulos);
}
.botones-carri button{
    background-color: hsla(278, 27%, 57%, 0.99);
    color: rgb(255, 255, 255);
    width: 65px;
    height: 30px;
    border-radius: 6px;
}
.botones-carri button:hover{
    background-color: blueviolet;
    cursor: pointer;
    font-family: var(--font-titulos);
}


.envio{
   /*  border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.412); */
    padding-top: 10px;
    text-align: center;
    color: rgb(96, 195, 96);
    width: 84px;
    height: 40px;
    font-family: var(--font-textos);
}

.input-register{
    cursor: pointer;
}

.burguer-responsive{
    font-family: var(--font-titulos);
}
.titulosCarrito{
    font-family: var(--font-titulos);
    color: thistle;
}
/* --------------------------------------------------- */
@media(max-width:865px){
    .row-carri{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagar-carri{
        padding-top: 5px;
        width: 80%;
        height: 300px;
        background-color:rgba(255, 255, 255, 0.248) ;
        text-align: center;
        border-radius: 8px;
        display: flex;
        justify-content: center;

    }
    .conte-artic{
    padding-left: 10px;
        border-radius: 8px;
    width: 80%;
    }
    .caja-img{
        width: 30%;
        }
        .imagenes img{
            border-radius: 6px;
            width: 100px;
            height: 100px;
        }
        .caja-descripcion{
            width: 30%;
            height: 90%;
            font-size: 14px;
        }

        .precio-total{
            width: 22%;
            height: 40px;
            border-radius: 6px;
            background-color: rgba(255, 255, 255, 0.412) ;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
}




/* -------------------------------- */
@media(max-width:418px){
    

    .pagar-carri{
        padding-top: 5px;
        width: 80%;
        height: 200px;
        background-color:rgba(255, 255, 255, 0.248) ;
        text-align: center;
        border-radius: 8px;
        display: flex;
        justify-content: center;

    }
    .conte-artic{
    padding-left: 10px;
        border-radius: 8px;
    width: 80%;
    }
    .caja-img{
        width: 30%;
        }
        .imagenes img{
            border-radius: 6px;
            width: 60px;
            height: 70px;
        }
        .caja-descripcion{
            width: 30%;
            height: 90%;
            font-size: 10px;
        }

        .precio-total{
            width: 22%;
            height: 40px;
            border-radius: 6px;
            background-color: rgba(255, 255, 255, 0.412) ;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 7px;
        }

        .botones-carri button{
            background-color: hsla(278, 27%, 57%, 0.99);
            color: rgb(255, 255, 255);
            width: 40px;
            height: 25px;
            border-radius: 6px;
            font-size: 8px;
        }


        .envio{
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.412);
            padding-top: 10px;
            text-align: center;
            color: green;
            width: 50px;
            height: 30px;
        }
        .articulos-carri{
            width:95%;
            height: 150px;
            border: solid 4px rgb(149, 84, 182);
            background-color: rgba(255, 255, 255, 0.248);
            margin-bottom: 8px;
          padding-top: 8px;
          border-radius: 8px;
        }
        h2.resu-carr{
            border-bottom: 2px solid #000000;
            margin-bottom: 5px;
          margin-left: 10px;
        font-size: 14px;
        text-align: center;
        
        }
        .total-carr{
           
            font-size: 14px;
        }
        
}
