.container-detail{
  display: flex;
  height: fit-content;
  height: -moz-fit-content;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.248);
/*   border:.5px solid rgba(160, 102, 218, 0.658); */
}

.selector-cant{
  width: 50px;
  text-align: center;
}

.product-detail{
  margin: 0 auto;
  width: 100%;

}

.inf-detail{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}


.img-container-detail{
  margin: 0 auto;
  width:80%;
}

.img-container-detail img{
  width: 100%;
  object-fit: cover;    
}

.product-small-img img{
width: 25%;
object-fit: cover;
border: 2px solid rgba(0, 0, 0, 0.2);
/* padding: 8px; */
/* margin: 5px; */
cursor: pointer;
}

.product-small-img{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

/* .img-container-detail img{
height: 300px;
} */


.detail-name{
  font-family:var(--font-titulos) ;
  font-size: 26px;
  color: thistle;
  padding-bottom: 5px;
  font-weight: bold;
}
.text-detail{
  font-family: var(--font-textos);
  color: thistle;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 18px;
/*   text-align: center; */
}

.price-detail{
  color: thistle;
  font-family: var(--font-titulos);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  /* line-height: 40px; */
  letter-spacing: 1.5px;
  line-height: 32px;
}

.inf-detail h3{
  border-top: .5px solid rgba(160, 102, 218, 0.658)
}

.cantidad, .cantidad button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cantidad {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 220px;
  width: 100%;
}

.cantidad button:first-child {
  border-radius: 5px 0 0 5px;
}

.cantidad button {
  border-radius: 0 5px 5px 0;
}

.cantidad button, .cantidad #count{
  color: #7e7e83;
  height: 36px;
  margin: 0;
  background-color: azure;
}

.cantidad button {
  background-color: thistle;
  border: none;
  font-size: 10px;
  padding: 7.5px 15px;
}

.cantidad #count {
  -moz-appearance: textfield;
  border: 1px solid rgba(126,126,131,.15);
  border-radius: 0;
  cursor: pointer;
  max-width: 95px;
  padding: 7.5px 0;
  text-align: center;
  width: 100%;
  color: black;
}

.button-container-detail {
  text-align: center;
}

.button-detail{
  background-color: hsla(278, 27%, 57%, 0.99);
  color: rgb(255, 255, 255);
  width: 50%;
  height: 90%;
  border-radius: 6px;
  padding: 10px;
  margin-top:10px;
  margin-bottom: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
.button-detail:hover{
  background-color: blueviolet;
    cursor: pointer;
}



.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 50px;
}

.article-detalle {
  margin: 60px;
  /* border: 1px solid var(--inter); */
}

.article-detalle h4 {
  color: thistle;
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--font-titulos);
  border-bottom: 2px solid rgba(160, 102, 218, 0.658);
  font-size: 30px;
}

.p-detalle {
  font-family: var(--font-textos);
  color: thistle;
  text-align: center;
}
.h1detalle {
  color: thistle;
  font-family: var(--font-titulos);
  margin: 10px;
}
 

@media (min-width: 500px) {
  .img-container-detail img{
    text-align: center;
  } 

  .img-container-detail{
    padding: 0;
  }

  .article-detalle h4 {
    font-size: 35px;
  }

  .p-detalle {
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
  }
  .button-container-detail{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; 
     width: 100%;
  }
  
}
/* ------------------------ */
@media(min-width:770px){

  .container-detail{
    flex-direction: row;
    
  }

  .button-detail {
    width: 120px;
    height: 40px;
  }
  
  .detail-name {
    font-size: 40px;
  }

  .price-detail {
    font-size: 49px;
    padding-top: 10px;
  }

  .img-container-detail {
    padding: 25px;
  }

  .inf-detail {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .article-detalle h4 {
    text-align: center;
    border-bottom: none;
    padding-top: 10px;
    border-top: 2px solid rgba(160, 102, 218, 0.658);
  }

  .p-detalle {
    padding: 15px;
  }

  .text-detail {
    padding-top: 7px;
  }

  .text-detail i {
    font-size: 25px;
    padding-right: 7px;
    color: hsla(278, 27%, 57%, 0.99);
  }
}