
 header.logo{
  height: 100px;
  background-color: #150050;
  text-align: center;
} 
/.container-detail{
  display: flex;
  height: 100%;
  width: 80em;
  margin: 5em auto;
  justify-content: space-between;
} 
.inf-detail{
  width: 50%;
  padding: 20px;
  padding-top: 10px;
  margin-top: 20px;
}
.product-detail{
  margin-left: 5em;
 /*  margin-right:0px; */
  height: 40px;
  width: 30%;
}
.product-small-img img{
width: 100%;
border: 1px solid rgba(0, 0, 0, 0.2);
padding: 8px;
margin: 10px 10px 15px;
cursor: pointer;
}
.product-small-img{
  width: 15%;
  display: flex;
}
.img-container-detail img{
height: 300px;
}
.img-container-detail{
  padding: 10px;
  width:30% ;
}
.detail-name{
  font-family:var(--font-titulos) ;
  font-size: 40px;
  color: thistle;
  padding-bottom: 20px;
}
.price-detail{
  font-family: var(--font-textos);
  color: thistle;
  padding-bottom: 10px;
  font-size: 20px;

}

.button-detail{
  background-color: hsla(278, 27%, 57%, 0.99);
  color: rgb(255, 255, 255);
  width: 50%;
  height: 90%;
  border-radius: 6px;
  padding: 10px;
  margin-top:10px;
  margin-bottom: 10px;
}
.button-detail:hover{
  background-color: blueviolet;
    cursor: pointer;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.article-detalle {
  margin: 12px;
  /* border: 1px solid var(--inter); */
}

.article-detalle h4 {
  color: var(--fucsia);
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--font-titulos);
  border-bottom: 3px solid var(--inter);
  font-size: 30px;
}

.p-detalle {
  font-family: var(--font-textos);
  color: thistle;
  text-align: center;
}
.h1detalle {
  color: thistle;
  font-family: var(--font-titulos);
  margin: 10px;
}
 

@media (max-width: 500px) {
  .container-detail{
    flex-direction: column;
    
  }
  .inf-detail{
    margin-top: 370px;
  }

  .img-container-detail img{
    text-align: center;
    margin-left: -45px;
  } 

  .img-container-detail{
    padding: 0;
  }

  .article-detalle h4 {
    font-size: 35px;
  }

  .p-detalle {
    font-size: 18px;
  }
  .button-container-detail{
    
     display: flex;
     flex-direction: column;
     justify-content: center;
    
     width: 100%;

  }
  
}
/* ------------------------ */
@media(min-width:770px){

  .container-main-detalle {
    width: 100%;
    height: fit-content;
    height: moz-fit-content;
  }
  
  .container-princ {
    display: flex;
    justify-content: space-evenly;
  }

  .container-detalle {
    width: 45%;
    
  }

  .imagen-detalle {
    width: 380px;
    height: 380px;
    margin: 10px;
    border-radius: 10px;
  }

  .container-boton {
    width: 50%;
    /* justify-content: space-evenly; */
  }
  
  .price-detalle-responsive {
    display: inline-block;
    order: 1;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .price-detalle {
    display: none;
  }

 
  

  .article-detalle h4 {
    text-align: center;
  }

  .p-detalle {
    padding: 15px;
  }
}