.contenedor-admin{
    width: 90%;
    margin: 0 auto;
    background: rgba(184, 169, 196, 0.6);
    border-radius: 8px;
    border: 3px solid #8D05F8;
    margin-bottom: 70px;
    margin-top: 50px;
}

.edit-inf {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor-admin label {
    margin-top: 10px;
    font-family: var(--font-textos);
    font-size: 20px;
}

.contenedor-admin input,
.contenedor-admin textarea {
    width: 95%;
}

.contenedor-admin input,
.contenedor-admin textarea,
.contenedor-admin select {
    /* margin: 0 auto; */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #8D05F8;
}

label.estilo{
    font-family: var(--font-titulos);
    font-size: 20px;
    color: #360b54;
}

.product-detail-edit{
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.img-container-edit{
    width:80%;
    max-width: 250px;
    margin: 0 auto;
}

.img-container-edit img {
    width: 100%;
    object-fit: cover;
}


.button-container-edit-admin{
    justify-content: space-between;
}
.rellenar-name{
    margin-bottom: 10px;
}


@media (min-width:480px){
    .button-container-edit-admin{
        justify-content: space-between;
    }
    .rellenar-name{
        margin-bottom: 10px;
        padding-left: 5px;
    } 
    .price-edit{
        font-family: var(--font-titulos);
        font-size: 30px;
        color: thistle;
        width: 100%;
        margin: 0px;
        padding-top: 10px;}

}


@media (min-width:810px){

    .contenedor-admin{        
        max-width: 1300px;
        padding-bottom: 8px;
        display: flex;
        margin-top: 90px;
        flex-wrap: wrap;
        text-align: center;
    }
    .product-detail-edit{
        width: 30%;
        height: 250px;
        text-align: center;
        /* background-color: #e7d8e8; */
        /* border-radius: 8px; */
    }
    .img-edit{
         width: 100%;  
         padding-bottom: 10px; 
    }
    .edit-inf{
        height: 80%;
        width: 70%;
        margin: 0 auto;
    }
    .contenedor-admin input,
    .contenedor-admin textarea {
        max-width: 830px;
    }
}