

 .contenedor-admin{
   width: 100%;
  /*  height: 90vh; */
   margin: 10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-bottom: 8px;
}
 
img.img-edit{
margin-left: 20px;
 height: 50%;
 width: 50%;  
 padding-bottom: 10px; 
}

.eliminar-todo{
    width: 100%;
    height: 100%;
    padding-top:10px;
     padding-bottom:10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.eliminar-todo-btn{
    height: 35px;
    width: 70%;
    background-color: red;
    color: white;
}
.eliminar-todo-btn1{ 
    background-color: red;
    color: white;
    height: 28px;
    width: 60px;
}
.eliminar-todo-btn2{ 
    background-color:gray;
    color: white;
    height: 28px;
    width: 60px;
}
.eliminar-todo-btn3{ 
    background-color:green;
    color: white;
    height: 28px;
    width: 60px;
}
.button-container-edit-admin{
    justify-content: space-between;
}
.rellenar-name{
    margin-bottom: 10px;
} 
.price-edit{
    font-family: var(--font-titulos);
    font-size: 30px;
    color: thistle;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    color: #7303c0;
    
}
/* img.logo-tech{
    width: 35%;
    height: 100%;
} */

.product-detail-edit{
    width: 80%;
    text-align: center;
    background-color: #e7d8e8;
    border-radius: 8px;
}
@media (min-width:480px){
    .eliminar-todo-btn{
font-size: 18px;
border-radius: 6px;
        height: 40px;
        width: 300px;
        background-color: red;
        color: white;
    }
    .eliminar-todo-btn1{ 
        font-size: 18px;
border-radius: 6px;
        background-color: red;
        color: white;
        height: 40px;
        width: 110px;

    }
    .eliminar-todo-btn2{ 
        font-size: 18px;
border-radius: 6px;
        background-color:gray;
        color: white;
        height: 40px;
        width: 110px;
    }
    .eliminar-todo-btn3{ 
        font-size: 18px;
border-radius: 6px;
        background-color:green;
        color: white;
        height: 40px;
        width: 110px;
    }
    .button-container-edit-admin{
        justify-content: space-between;
    }
    .rellenar-name{
        margin-bottom: 10px;
        width: 200px;
        height: 30px;
        padding-left: 5px;
    } 
    .price-edit{
        font-family: var(--font-titulos);
        font-size: 30px;
        color: thistle;
        width: 100%;
        margin: 0px;
        padding-top: 10px;}

        .product-detail-edit{
            width: 70%;
            background-color: #e7d8e8;
            border-radius: 8px;
        }
}





@media (min-width:810px){

    .contenedor-admin{
        
        width: 100%;
        margin: 10px;
        padding-bottom: 8px;
        display: flex;
        text-align: center;
     }
     .product-detail-edit{
        text-align: center;
        background-color: #e7d8e8;
        border-radius: 8px;
    }
     .img-edit{
        /* margin-left: 20px; */
         height: 30%;
         width: 50%;  
         padding-bottom: 10px; 
        }
       .edit-inf{
           height: 80%;
           width: 100%;
       }
}