
.contenedor{

    background-color: black;
    width: 100%;
    height: 340px;
    
    display: flex;
    max-width: 1200px;
        margin: 0 auto;
    }
    h4.color{
        color: #ec38bc;;
        margin-bottom: 5px;
    }
    a{
        font-size: 20px;
    }
    
    
    
    /* -------------------------------- */
    
    /* tamao para celulares  */
    @media(max-width:478px){ 
        
    .caja1 {
    display: none;
    }
    .caja2 {
     display: none;
    
    }
    .caja3 a{
        
      
        font-size: 12px;
        width: max-content;
        height: 30%;
    }
    .caja3{
        width: 30%;
        height: 30%;
    }
    
     .caja4 .hijo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font:menu;
        width: 90%;
        
       
    }
    .caja4{ margin: 5px;
        height: 60%;}
    
    .contenedor{
        width: 100%;
        height: 200px;
    }
    .main-footer{
        width:95%;
    }
    .section-footer{
        width: 90%;
    
    }
    
    
    
    } 
    
    
    
    /* --------------------------------- */
    .section-footer{
        margin: 0;
         display:inline;
         width: 100%;
         height: 75%;
        
       
    }
    .hijo a{
    color:#ec38bc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    }
    
    .hijo{
        margin-bottom: 25px;
        /* border-bottom: solid 2px rgb(191, 89, 179); */
        margin-right: 20px;
    
    }
    .hijo p{
        color:#ec38bc;
        padding-bottom: 5px;
        padding-left: 5px;
        
    }
    
    .caja1 a{
        margin-bottom: 10px;
        display: flex;
    }
    .caja2 a{
        margin-bottom: 10px;
    }
    .caja3 a{
        margin-bottom: 10px;
    
    }
    .caja3{
        
        width: 25%;
    }
    .article{ 
        height: 90%;
    }
    
    .caja4 a{
        margin-bottom: 10px;
        display: flex;
    
    } 
    .caja4{
        border-top: 5px;
    }
    
    /* .linea {
    
        width: 90%;
        border-top: 2px solid #fff;
        margin: 0;
    } */
    
    
    /* --------------------------------------------- */
    /* footer-tablet() */
    
    @media(min-width:500px){
        
        
        .section-footer{
            margin: 10px;
            display:flex;
            flex-direction:row;
            align-items: flex-start;
            padding-top: 15px;
            font-size: large
            
        }
        
        .caja1 a{
            margin-bottom: 10px;
            
        }
        .caja2 a{
            margin-bottom: 10px;
        }
        .caja3 a{
            margin-bottom: 10px;
            
    
        }
        .caja4 a{
            margin-bottom: 10px;
        } 
    
    .caja4{
        order: 1;
    }
    .caja3{
        align-self: flex-end;
    }
    }
    
    /* ----------------------------------- */
    /* footer-escritorio(desktop) */
    
    @media(min-width:770px){
        .section-footer{
           padding-top: 15px;
           justify-content: space-around;
           font-size:23px;
        }
    }
    .caja4{
        display: flex;
        flex-direction: column;
    }
    