*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav__a:hover {
    border-bottom: 2px solid #b87cfd;
}

a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    width: 100%;
    height:6.7rem;
    background-color: var(--morado);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.cajaAvatar{
    width: 50px;
    height: 40px;
    border-radius: 50px;
    display: contents;
  }
  img.avatarUsuario{
      border-radius: 50px;
      width: 42px;
      height: 40px;
  }
  .user-p,
  .carrito-p {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      font-family: var(--font-textos);
  }
  .label-logout {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}



.container-logo { 
    display: flex;
    width: 40%;
    height: 90px;
    flex-wrap: wrap;
    justify-self: center; 
    align-self: center; 
}

.container-icon {
    display: flex;
    width: 30%;
    justify-content: space-around;
}


/* Menu hamburguesa*/

.burguer-menu {
    width: 30%;
    font-size: 27px;
    text-align: center;
    color: #b87cfd;
}


.burguer-menu label i{
    margin-right: 60%;
    cursor: pointer;
}


.nav__ul{
    list-style: none;
    display: none;
    background-color: var(--morado);
    width: 100%;
    height: 350px;
    text-align: center; 
    position: absolute;
    top: 100px;
    left: 0; 
    z-index: 70; 
} 
h3.usario{
  
   color: white;
   
    
}

input:checked  ~ ul{
    display:block;
} 

.burguer-menu input,.burguer-responsive input {
    display: none;
}

.nav__ul .nav__li, .nav__a {
    margin: 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    padding-left: 27px;
    padding: 4px 28px;
    font-family: var(--font-textos);
}

.nav__ul .nav__li:first-child {
    margin-top: 0px;
}

/* Menu responsive*/
.burguer-responsive {
    display: none;
    color: #b87cfd;
}

.burguer-responsive label i {
    cursor: pointer;
}

.menu-responsive {
    background-color: var(--morado);
    width: 100%;
    height: 300px;
    text-align: center; 
    display: none;
}


/* Logo */
.logo-imagen {
    width: 50%;
    justify-self: flex-end;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.logo-imagen img{
    max-width: 108.95px;
    max-height: 84.8px;
}




/* carrito, lupa y usuario*/

.buscador-responsive {
    display: none;
}


.buscador i {
    font-size: 24px;
    text-align: center;
    color:#b87cfd;
    cursor: pointer;
}

.user {
    
    font-size: 24px;
    text-align: center;
    color:#b87cfd;
}

/*  .user-p {
    display: none;
}   */
.cajaAvatar{
    width: 30px;
    height: 25px;
    border-radius: 50px;
    
  }
  img.avatarUsuario{
      border-radius: 50px;
      width: 30px;
      height: 30px;
  }
  .user-p,
  .carrito-p {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      font-family: var(--font-textos);
  } 

.li-logout{
    width:60px ;
    height: 20px;
    display: block;
    background: var(--morado);
    font-size: 10px;
    color: white;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    list-style: none;
    font-family: var(--font-textos);
    background-color: var(--inter);
    box-shadow: 1px 1px 1px 1px black ;
    border-radius: 4px;
} 
li.li-logout a{
    color: white;
}

.user{
    display: inline-table;
}


.carrito {
    font-size: 24px;
    text-align: center;
    color:#b87cfd;
   /*  display: none; */
}

.carrito a ,
.user a{
    color:#b87cfd;
}

.carrito-p {
    display: none;
}

#search-bar{
    display: none;
}

.ul-buscador {
    display: none;
    background-color: var(--morado);
    width: 100%;
    height: 45px;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    color: white;
    list-style: none;
    justify-content: center;
}


.li-buscador input{
    display: inline-block;
    margin-top: 5px;
    width: 250px;
    height: 30px;
    align-items: center;
    border: none;
    border-radius:5px 0 0 5px; 
    padding: 12px 0 12px 10px;
    outline: none;
}

.buscador input:checked ~ ul{
    display:flex;
}

.boton-mobile {
    position: relative;
    bottom: -5px;
    /*left: 120px;
    bottom: 33px; */
    height: 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
}

.boton-mobile i {
    font-size: 18px;
}



/* Tablet */

@media (min-width:510px ) {
    /* Containers*/
    .nav-container {
        width:100%;
        height: 5.3rem;
    }

    .container-logo {
        width: 15%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .container-icon {
        width: 85%;
        justify-content: space-evenly;
    }

    .logo-imagen {
        margin-left: 0;
    }


    /* Menu hamburguesa*/

    .burguer-menu {
        display: none;
    }

    .burguer-responsive {
        display: block;
        width: 100%;
        height: 32px;
        color: white;
        background-color: black;
        padding:5px;
        border: 1px solid var(--morado);
        font-size: 20px;
    }

    .burguer-responsive i {
        text-align: center; 
    }

    .nav__ul {
        top: 117px;
    }

    /* Search bar*/
    .buscador {
        display: none;
    }
    .buscador-responsive {
        display: inline-block;
        width: 75%;
    }

    .buscador-responsive #div-buscador{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;    
    }

    .buscador-responsive #div-buscador input{
        width: 80%;
        height: 30px;
        align-items: center;
        border: none;
        border-radius:5px 0 0 5px; 
        padding: 12px 0 12px 10px;
        outline: none;
    }

    .buscador-responsive #div-buscador button{
        position: relative;
        top: 0;
        height: 30px;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 24px;
        text-align: center;
        color:#b87cfd;
        cursor: pointer;
    }

    .boton-mobile i {
        font-size: 22px;
    }
    .cajaAvatar{
        width: 50px;
        height: 40px;
        border-radius: 50px;
        display: contents;
      }
      img.avatarUsuario{
          border-radius: 50px;
          width: 42px;
          height: 40px;
      }
      .user-p,
      .carrito-p {
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
          font-family: var(--font-textos);
      } 
 
  .li-logout{
        width:90px ;
        height: 25px;
        display: block;
        background: var(--morado);
        font-size: 15px;
        color: white;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
        list-style: none;
        font-family: var(--font-textos);
        background-color: var(--inter);
        box-shadow: 1px 1px 1px 1px black ;
        border-radius: 4px;
    } 

    .user{
        display: inline-table;
    }
}

@media (min-width:790px ) {

    .burguer-responsive {
        height: 50px;
        background-color: var(--morado);
    }

    #menu-responsive {
        display: none;
    }

    .burguer-responsive i {
        display: none;
    }

    .nav__ul {
        display: flex;
        flex-wrap: wrap;
        position: static;
        background-color: var(--morado);
        height: fit-content;
        text-align: center;
        justify-content: space-evenly;
        box-shadow: 0px 0px 10px rgb(170, 80, 200);
    }


    .nav__ul .nav__li, .nav__a {
        margin: 0;
        padding: 10px;
    }

    
    
    .buscador-responsive {
        width:70%;
    }

    .user-p,
    .carrito-p {
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        font-family: var(--font-textos);
    }

    .carrito-p a ,
    .user-p a{
        color: white;
       
    }
p.user-p{
    display: table;
    padding-left: 8px;
}
    .logout-ul{
        display: none;
        width: 50px;
        height: 50px;
      
    }
      
    #logout input:checked  ~ ul{
        display:block;
       
    }
      
    .input-user{
        display: none;
    }

    .label-logout {
        box-sizing: border-box;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
      
    .li-logout{
        width:90px ;
        height: 25px;
        display: block;
        background: var(--morado);
        font-size: 15px;
        color: white;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
        list-style: none;
        font-family: var(--font-textos);
        background-color: var(--inter);
        box-shadow: 1px 1px 1px 1px black ;
        border-radius: 4px;
    }
    .user a{
        color: white;
      
    }
  /*  li.li-logout a {
        height: 60%;
        background-color: white;
    } */
    .cajaAvatar{
      width: 50px;
      height: 40px;
      border-radius: 50px;
      display: contents;
    }
    img.avatarUsuario{
        border-radius: 50px;
        width: 42px;
        height: 40px;
    }
    
}