* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Main */


.carrusel-div {
    margin-bottom: 25px;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
}

.carrusel-img {
    width: 100%;
    height: 100%;
}

 .carrusel-img img{
    width: 100%;
    object-fit: cover;
}

.categorias {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #7303c0;
    background: linear-gradient(to bottom , #03001e, #7303c0, #fdeff9); 
    background-size: cover;
    background-attachment: fixed;
    margin-top: 15px;
    margin-bottom: 15px;
}

.categorias__icon {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27%;
    color: #b87cfd;
}

.categorias__icon a {
    display: flex;
    flex-wrap: wrap;
    width: 6rem;
    height: 5.3125rem;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #7303c0;
}


.categorias__icon a .gamepad {
    align-self: center;
    justify-self: center;
    font-size: 2.8125rem;
    color: white;
}


.title-card {
    color: white;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: .12rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: var(--font-titulos);
    border-bottom:3px solid rgb(170, 80, 200);
}

.discount {
    display: none;
}

.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgba(184, 169, 196, 0.6); */
    border-radius: 8px;
}

.productos-article__card {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.248);
    border: 2px solid var(--inter);

    border-radius: 6px;
}

.productos-article__card:hover {
    box-shadow: 0px 0px 10px rgb(117, 26, 135);
}



.productos-article .productos-article__card a img{
    width: 100%;
    object-fit: cover;
}

.card-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.price {
    display: block;
    font-weight: bold;
    color:#fdeff9;
    font-size: 18px;
    margin: 15px;
    font-family: var(--font-titulos);
}

.descripcion-producto {
    font-size: 15px;
    margin-top: 12px;
    font-family: var(--font-textos);
    color:rgba(255, 255, 255, 0.809);
}


.button-producto {
    background-color: hsla(278, 27%, 57%, 0.99);
    border-radius: .8rem;
    width: 60%;
    height: fit-content;
    height: -moz-fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: .53rem;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font-textos);
}

.button-producto a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}


@media (min-width:510px) {
    .productos-article__card {
        width: 30%;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .categorias__icon {
        width:15%
    }

    .categorias__icon a {
        width: 5.5rem;
        height: 5.3125rem;
    }


}

@media (min-width:810px) {
    .productos-article {
        width: 88%;
        margin: 0 auto;
    }

    .productos-article__card {
        width: 15%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .categorias__icon {
        width:15%
    }

    .categorias__icon a {
        width: 7.5rem;
        height: 5.3125rem;
    }

    .carrusel-div {
        margin-top: 30px;
    }
  
}