* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-admin {
    background: white;
    color: black;
}

.creacion-producto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background-color:#e7d8e8;
    border-radius: 8px;
    margin-bottom: 70px;
}

.title-creacion-admin {
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 25px;
}

.creacion-producto label {
    margin-top: 20px;
    font-family: var(--font-textos);
    font-size: 20px;
}

.creacion-producto input,
.creacion-producto textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #8D05F8;
}

.creacion-producto select {
    width: 80px;
}

.input-admin {
    max-width: 265px;
}
label.estilo{
    font-family: var(--font-titulos);
    font-size: 20px;
    color: #360b54;
}

.button-create {
    background-color: hsla(278, 27%, 57%, 0.99);
    border-radius: .8rem;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 1rem;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font-textos);
    color: white;
}


@media (min-width: 550px){
    .creacion-producto .inputdos,
    .creacion-producto label,
    .creacion-producto textarea {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .input-admin {
        position: relative;
        left: 40px;
    }
    
    .select-admin {
        position: relative;
        left: 40px;
    }

    .creacion-producto input,
    .creacion-producto textarea {
        margin-bottom: 10px;
    }

    .button-create {
        width: 20%;
    }
}

@media (min-width: 800px) {

    
    .creacion-producto .inputdos,
    .creacion-producto label,
    .creacion-producto textarea {
        width:90%;

    }

    .input-admin {
        display: flex;
    }
    
    .select-admin {
        display: flex;
    }

    .button-create {
        width: 12%;
    }

}
