* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-create {
    margin-top: 100px;
}

.creacion-producto {  
    width: 90%;
    margin: 0 auto;
    background: rgba(184, 169, 196, 0.6);
    border-radius: 8px;
    border: 3px solid #8D05F8;
    margin-bottom: 70px;
    text-align: center;
}

.form-create {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.creacion-producto label {
    margin-top: 20px;
    font-family: var(--font-textos);
    font-size: 20px;
}

.creacion-producto input,
.creacion-producto textarea {
    width: 80%;
}

.creacion-producto input,
.creacion-producto textarea,
.creacion-producto select {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #8D05F8;
}

label.estilo{
    font-family: var(--font-titulos);
    font-size: 20px;
    color: #360b54;
}

.div-button-create{
    margin-top: 10px;
}

.button-create {
    background-color: black;
    border-radius: .8rem;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 1rem;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font-textos);
    color: white;
}


 .msg-error {
    color: #dd2211;
    font-family: var(--font-textos); 
    font-size: 15px;
}

#input-name, #input-price, #input-discount, #input-stock {
    display: none;
    font-size: 22px;
    color: #51ad23d2;
    width: 20px;
    margin-left: 5px;
}

#img-preview {
    width:80%;
    height: 200px;
    margin: 0 auto;
    max-width: 250px;
    border: 3px solid #8D05F8;
    margin-bottom: 5px;
}

#img-preview img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 550px){
    .creacion-producto .inputdos,
    .creacion-producto input,
    .creacion-producto textarea {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .creacion-producto input,
    .creacion-producto textarea {
        margin-bottom: 10px;
    }

    .button-create {
        width: 20%;
    }
}

@media (min-width: 800px) {
    .creacion-producto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-create {
        width: 45%;
    }

    .creacion-producto input,
    .creacion-producto textarea {
        margin-bottom: 5px;
    }
    
    .div-button-create {
        margin: 0 auto;
    }

    .button-create {
        width: 100%;
    }

}
