.containerGeneral{
  width: 85%;
  height: 60%;
  background:#ec38bc3c;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.281);
}
.containerGen{
width: 100%;
display: flex;
justify-content: center;
}
.containerAvatar{
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
}
.avatarProfile{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border:3px solid thistle;
}
.bienvenido{
  display: flex;
  font-family: var(--font-titulos) ;
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: thistle;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
}
.titleProfile{
  display: flex;
  font-family: var(--font-titulos) ;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: thistle;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid rgb(170, 80, 200);
}
.buttonProfile {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45%;
  height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: thistle;
  border-radius: 7px;
  background-color: var(--morado);
  cursor: pointer;
  border-radius: 7px;
}
.botonCaja{
  display: flex;
  justify-content: center;
  width: 100%;
}
.cajaContenedor{
  width: 100%;
}
.nameProfile{
  font-family: var(--font-titulos);
  color: thistle;
  font-size: 20px;
  width: 40%;
}
.letra{
  color: rgba(0, 0, 0, 0.994);
  font-size: 18px;
  text-transform: capitalize;
}
.datosPersonales{
  padding-left: 20%;
  margin: 10px;
  padding-bottom: 5px;
 width: 75%;
}
