<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>editar producto</title>
</head>
<body>
    <header class="logo">
        <img class="logo-tech" src="images/logos/eva.png" alt="techRam logo">
       </header>
    <main>
        <div class="contenedor-admin">
            <div class="product-detail-edit">
                <div class="img-container-edit">
                    <img class="img-edit" src="images/productos/producto1.png" alt="a">
                    <div class="button-edit-product">
                        <div class="button-container-edit-admin">
                            <button class="eliminar-todo-btn2" >Editar</button>
                            <button class="eliminar-todo-btn1">Eliminar</button>
                            <button class="eliminar-todo-btn3" >Agregar</button>
        
                        </div>
               </div>
            
            </div>
            <div class="edit-inf">
                <h3 class="price-edit">Nombre Producto</h3>
                <input class="rellenar-name" type="text" placeholder="Nombre Producto">
                <div class="button-container-edit-admin">
                    <button class="eliminar-todo-btn2">Editar</button>
                    <button class="eliminar-todo-btn1">Eliminar</button>
                </div>
                <h3 class="price-edit">Precio</h3>
                <input class="rellenar-name" type="text" placeholder="Precio">
                <div class="button-container-edit-admin">
                    <button class="eliminar-todo-btn2">Editar</button>
                    <button class="eliminar-todo-btn1">Eliminar</button>
                </div>
                <h3 class="price-edit">Stock</h3>
                <input class="rellenar-name" type="text" placeholder="Stock">
            
                <div class="button-container-edit-admin">
                    <button class="eliminar-todo-btn2" >Editar</button>
                    <button class="eliminar-todo-btn1">Eliminar</button>
                </div>
            </div>


            <div class="eliminar-todo">
                <button class="eliminar-todo-btn">Eliminar Producto</button>
            </div>

        </div>
      
        
    </main>
</body>
</html>