<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-admin">
    <%- include('../partials/header-admin') %>
    <main class="main-create">
        <h3 class="title-admin">Creación de productos</h3>
        <div>
            <form class="creacion-producto" action="/admin" method="POST" enctype="multipart/form-data">
                <div class="form-create">
                    <label class="estilo" for="name-admin">Nombre del producto</label>
                    <input type="text" name="name" id="name-admin" class="inputdos">
                    <label class="estilo" for="color-admin">Color del producto:</label>
                    <input type="text" name="color" id="color-admin" class="inputdos">
                    <label class="estilo" for="price-admin">Precio:</label>
                    <input type="text" name="price" id="price-admin" class="inputdos">
                    <label class="estilo" for="discount-admin">Descuento:</label>
                    <input type="text" name="discount" id="discount-admin" class="inputdos">
                    <label class="estilo" for="garantia-admin">Garantía</label>
                    <input type="text" name="garantia" id="garantia-admin" class="inputdos">
                </div>
                <div class="form-create">
                    <label class="estilo" for="producto-img">Agregue foto del producto</label>
                    <input type="file" name="producto-img" accept="jpg" class="input-admin">
                    <label class="estilo" for="categoria-admin">Elige la categoria:</label>
                    <select id="categoria-admin" class="select-admin" required>
                        <option value="no se">categoria</option>
                        <option value="no se">categoria</option>
                        <option value="no se">categoria</option>
                        <option value="no se">categoria</option>
                        <option value="no se">categoria</option>
                        <option value="no se">categoria</option>
                    </select>  
                    <label class="estilo" for="descripcion-admin">Descripción del producto</label>              
                    <textarea name="descripcion" id="descripcion-admin" cols="30" rows="10"></textarea>
                    <div class="div-button-create">
                        <button type="submit" class="button-create">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body> 
</html>