<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <h3 class="title-creacion-admin">Creación de productos</h3>
        <div>
            <form class="creacion-producto">
                <label for="name-admin">Nombre del producto</label>
                <input type="text" name="name" id="name-admin">
                <label for="categoria-admin">Elige la categoria:</label>
                <select id="categoria-admin" class="select-admin" required>
                    <option value="no se">categoria</option>
                    <option value="no se">categoria</option>
                    <option value="no se">categoria</option>
                    <option value="no se">categoria</option>
                    <option value="no se">categoria</option>
                    <option value="no se">categoria</option>
                </select>
                <label for="color-admin">Color del producto:</label>
                <input type="text" name="color" id="color-admin">
                <label for="producto-img">Agregue foto del producto</label>
                <input type="file" name="producto-img" accept="jpg">  
                <label for="descripcion-admin">Descripción del producto</label>              
                <textarea name="descripcion" id="descripcion-admin" cols="30" rows="10"></textarea>
            </form>
        </div>
    </main>
</body>
</html>