<!--         <section class="categorias">
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-laptop-medical"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>armado pc</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-headset"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>auriculares</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-desktop"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>monitores</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="far fa-keyboard"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>perifericos</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-gamepad"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>joystick</p>    
            </article>
            <article class="categorias__icon">
                <a href="#">
                    <div class="gamepad">
                        <i class="fas fa-laptop"></i>
                    </div>
                </a>
                <div class="discount">
                    <i class="fas fa-percent"></i>
                </div>
                <p>laptops</p>    
            </article>
        </section>