
    <div class="contenedor">
        <footer class="main-footer">
            <section class="section-footer">

                <div class="caja1">
                <article class="hijo">
                   <h4 class="color">Marcas</h4>
                    <a href="intel">Intel</a>
                    <a href="amd">AMD</a>
                    <a href="asus">ASUS</a>
                    <a href="nvidia">Nvidia</a>
                    <a href="asrock">Asrock</a>
                </article></div>

            
                <div class="caja2">
                    <h4 class="color">Lo Más Buscado</h4>
                <article class="hijo">
                   
                    <a href="placas de video nvidia">Placas De Video Nvidia</a>
                    <a href="placas de video amd">Placas De Video AMD</a>
                    <a href="gabinetes">Gabinetes</a>
                    <a href="monitores">Monitores</a>
                    <a href="teclado mecánico">Teclados Mecánicos</a>
                    <a href="mouse gamer">Mouse Gamer</a>
                </article></div>

                <div class="caja4">
                    <h4 class="color">Contactos</h4>
                <article class="hijo">
                
                  <div><img src="images/logos/face.png" alt="imagen de facebook" style="width: 80px;height: 80px;"></div> 
                  <div><img src="images/logos/insta.png" alt="insta imagen" style="width: 80px;height: 80px;"></div> 
                  <div><img src="images/logos/whatsapp.png" alt="imagen" style="width: 80px;height: 80px;"></div>
                   
                </article>
                </div>

                <div class="caja3"><article class="hijo">
                    <a href="TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11">TODOS LOS DERECHOS RESERVADOS DEL GRUPO 11</a> 
                </article></div>



            </section>

        </footer>
    </div>
