<header class="header-admin">
    <div class="logo-admin">
        <div class="img-admin">
            <img class="logo-tech" src="images/logos/eva.png" alt="techRam logo">
        </div>
    </div>
    <div class="burguer-menu-admin">
        <input type="checkbox" id="menu-admin">
        <label for="menu-admin"><i class="fas fa-bars"></i></label>
            <ul class="nav__ul-admin">
                <li class="nav__li"><a href="admin/" class="nav__a">PRODUCTOS</a></li>
                <li class="nav__li"><a href="admin/create" class="nav__a">CREAR PRODUCTO</a></li>
            </ul>
    </div>
    <div class="burguer-responsive-admin">
        <ul class="burguer-responsive-nav__ul">
            <li class="nav__li"><a href="admin/" class="nav__a">PRODUCTOS</a></li>
            <li class="nav__li"><a href="admin/create" class="nav__a">CREAR PRODUCTO</a></li>
        </ul>
    </div>
</header>