<header>
    <nav class="nav-container">
        <div class="burguer-menu">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <ul class="nav__ul">
                <li class="nav__li"><a href="" class="nav__a">PRODUCTOS</a></li>
                <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                <li class="nav__li"><a href="/users/perfil" class="nav__a">MI CUENTA</a></li>
                <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                <li class="nav__li"><a href="/users/register" class="nav__a">REGISTRATE</a></li>
                <li class="nav__li"><a href="/users/login" class="nav__a">INGRESA</a></li>
            </ul>
        </div>
        <div class="container-logo">
            <div class="logo-imagen">
                <a href="/"><img src="/images/logos/eva.png" href="#" alt="techRam logo"></a>
            </div>
        </div>
        <div class="container-icon">
            <div class="buscador">
                <input type="checkbox" id="search-bar">
                <label for="search-bar"><i class="fas fa-search"></i></label>
                <ul class="ul-buscador">
                    <li class="li-buscador"><input type="text" placeholder="Buscar..."></li>
                    <li class="li-buscador"><button class="boton-mobile"><i class="fas fa-search"></i></button></li>
                </ul>
            </div>
            <div class="buscador-responsive">
                <div id="div-buscador">
                    <input type="text" placeholder="Buscar...">
                    <button class="boton-mobile"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="user">
                <a href="/users/perfil"> <i class="fas fa-user"></i></a>
                <p class="user-p"> <a href="/users/perfil">mi cuenta</a></p>
            </div>
            <div class="carrito">
                <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
                <p class="carrito-p"><a href="/products/carrito">mi carrito</a></p>
            </div>
        </div>
    </nav>
    <div class="burguer-responsive">
        <input type="checkbox" id="menu-responsive">
            <label for="menu-responsive"><i class="fas fa-bars"></i></label>
            <ul class="nav__ul">
                <li class="nav__li"><a href="#" class="nav__a">PRODUCTOS</a></li>
                <li class="nav__li"><a href="#" class="nav__a">ARMA TU PC</a></li>
                <li class="nav__li"><a href="/users/perfil" class="nav__a">MI CUENTA</a></li>
                <li class="nav__li"><a href="#" class="nav__a">AYUDA</a></li>
                <li class="nav__li"><a href="/users/register" class="nav__a">REGISTRATE</a></li>
                <li class="nav__li"><a href="/users/login" class="nav__a">INGRESA</a></li>
            </ul>
        </div>
    </div>
  <% if (locals.user){%>
        <h3 class="usuario" style="
        color: white;
        margin-left: 15px;
        margin-top: 10px;
        background-color: darkmagenta;
        width: 200px;
        height: 28px;
        padding-left: 5px;
        font-family: 'Source Sans Pro';
        border-radius: 6px;
    "><%= locals.user.firstName %></h3>
    <%}%>
</header>