<section class="productos">
    <h3 class="title-card">Lo mas buscado</h3>
    <article class="productos-article">
        <div class="productos-article__card">
            <div class="card-img">                        
                <a href="detalle"><img src="images/productos/producto11.png" alt="pc"></a>
                <h5 class="descripcion-producto">Memoria Xpg Spectrix D60g Rgb 16gb (2x8) Ddr4 3000mhz Dual</h5>
                <p class="price">$12.500</p>
            </div>
            <div class="button-producto">
                <a href="detalle">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto2.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">VANGUARD gabinete</h5>
                <p class="price">$25.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto3.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">Micro Procesador Amd Ryzen 5 5600g 4.4ghz Am4 16mb C/ Video</h5>
                <p class="price">$50.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto4.jpeg" alt="pc"></a>
                <h5 class="descripcion-producto">Teclado Redragon k552W</h5>
                <p class="price">$7.500</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto5 (2).jpg" alt="pc"></a>
                <h5 class="descripcion-producto">ASUS TUF GAMING B550-PLUS(Wi-fi)</h5>
                <p class="price">$24.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/productoAuriculares.jpeg" alt="pc"></a>
                <h5 class="descripcion-producto">AURICULARES GAMER ONIKUMA K20</h5>
                <p class="price">$12.500</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
    </article>
    <h3 class="title-card">Lo que esta en oferta</h3>
    <article class="productos-article">
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto7.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">Combo Gamer</h5>
                <p class="price">$5.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto8.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">Monitor AOC 24” Gamer G4D41N-F Full HD 1080p 75 Hz</h5>
                <p class="price">$7.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto9.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">Tira luces LED x10m</h5>
                <p class="price">$2.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto10.jpg" alt="pc"></a>
                <h5 class="descripcion-producto">Tableta Digitalizadora Wacom Intuos Small</h5>
                <p class="price">$15.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            
            <div class="card-img">
                <a href="#"><img src="images/productos/producto1.png" alt="pc"></a>
                <h5 class="descripcion-producto">MSI GeForce RTX 3080 Ti 12GB</h5>
                <p class="price">$120.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
        <div class="productos-article__card">
            <div class="card-img">
                <a href="#"><img src="images/productos/producto12.png" alt="pc"></a>
                <h5 class="descripcion-producto">Cpu Cooler Xigmatek Windpower 963 Intel 1200 Amd Am4</h5>
                <p class="price">$3.000</p>
            </div>
            <div class="button-producto">
                <a href="#">VER PRODUCTO</a>
            </div>
        </div>
    </article>
</section>