<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Ingresa con</h1>
            <div class="social-login">
                <div class="social-login-element">
                    <img src="/images/logos/google.svg" alt="google-image">
                    <span>Google</span>
                </div>
                <div class="social-login-element">
                    <img src="/images/logos/facebook.svg" alt="facebook-image">
                    <span>Facebook</span>
                </div>
            </div>
            <p>ó</p>
            <form class="inputs-container">
                <input class="input" type="text" placeholder="email" required>
                <input class="input" type="text" placeholder="Contraseña" required>
                <p class="anexo"><input id="checkbox" type="checkbox" name="recordar" value="recordar-contraseña">Recordar contraseña</p>
                <p class="anexo">Olvidaste tu contraseña? <a class="span">Click aquí</a></p>

                <button class="btn">login</button>
                <p class="anexo">Aún no tienes una cuenta? <a class="span" href="/register">Registrate aquí</a></p>
            </form>
          </div>
            <img class="image-container" src="/images/logos/eva.png" alt="Logo techRam">
      </div>
      
      <%- include('../partials/footer') %>
      
</body>
</html>