<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>


            <form id="form" action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="formulario">
                    <!-- 1.Datos Personales -->
                    <div class="datos-Personales-Edit">
                        <h2>Datos Personales</h2>

                        <label for="name"><b>Nombre</b></label>
                        <input type="text" placeholder="Nombre " name="firstName" id="firstName">



                        <p class="error" id="firstNameError"></p>
                        <br>
                        <label for="name"><b>Apellido</b></label>
                        <input type="text" placeholder="Apellido" name="lastName" id="lastName">
                        <p class="error" id="lastNameError"></p>



                        <br>
                        <label for="Email"><b>Email</b></label>
                        <input type="email" placeholder="Ingrese su Email" disabled name="email" id="email">
                        <br>

                        <br>
                        <label for="Perfil"><b>Cambiar foto de Perfil</b></label>
                        <input class="File" type="file" name="Perfil" accept="jpg">

                    </div>

                    <!-- Datos de envio -->
                    <div class="entrega">
                        <h2>Datos de envio</h2>

                        <label for="Dirrecion"><b>Dirrecion</b></label>
                        <input type="text" placeholder="Direccion" name="address" id="name">.
                        <br>
                        <label for="Numero"><b>C.Postal</b></label>
                        <input type="number" placeholder="Codigo Postal" name="cp" id="Numero">
                        <br>
                        <label for="name"><b>Provincia</b></label>
                        <input type="text" placeholder="Provincia" name="provincia" id="provincia">
                        <br>
                        <label for="name"><b>Localidad</b></label>
                        <input type="text" placeholder="Localidad" name="localidad" id="name">
                    </div>
                </div>
                <button type='submit' class="checkout-cta-Edit">Editar</button><br>
                <span class="error" id="mistakes"></span>
            </form>





            <%- include('../partials/footer') %>
    </body>

</html>